node_modules/
bower_components/
build/*
!build/.keep
.idea/
*.sublime*
.DS_Store
test/reports
.gradle
dist
test/temp
.sass-cache
app/lib
.tmp
test/lib/
.settings/*
*.iml
atlassian-ide-plugin.xml
Gemfile.lock
medchecker/www/*
medchecker/platforms/ios/www/*
dist.war
