$icon-font-path: "../lib/sass-bootstrap/fonts/";
@import 'agilex-font-icon.css';
@import 'sass-bootstrap/lib/bootstrap';
@import 'lv-widgets/src/css/lv-widgets';
$header-height: 48px;
$footer-height: 24px;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.container-full {
    width: 100%;
    height: 100%;
    position: fixed;
}

.header-fixed {
    background-color: #444;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: $header-height;
    text-align: center;
    z-index: 1;
    button {
        border-radius: 0;
        color: #fff;
        height: 48px;
        &:hover {
            color: #fff;
        }
        &:focus {
            color: #ff0;
        }
    }
    .layer {
        position: absolute;
        pointer-events: none;
        left: 0px;
        right: 0px;
        * {
            pointer-events: auto;
        }
    }
    .title {
        h1 {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            font-size: 1.8em;
            font-weight: 800;
            color: #fff;
        }
    }

    .menu-container {
        button {
            background-color: transparent;
            padding: 9px 12px 8px 12px;
        }
        i {
            font-size: 1.5em;
        }
        .menu {
            position: absolute;
            left: 0px;
            top: 48px;
            padding-left: 0px;
            text-align: left;
            background-color: #fff;
            display: none;
            &.on {
                display: block;
                + .menu-overlay {
                    display: block;
                    position: fixed;
                    top: 48px; left: 0; right: 0; bottom: 24px;
                    background-color: rgba(0,0,0, 0.25);
                    z-index: -1;

                }
            }
            li {
                list-style: none;
                i {
                  font-size: 1.1em;
                  margin-right: 12px;
                }
                a {
                    background-color: #000;
                    color: #fff;
                    padding: 15px 120px 15px 15px;
                    display: block;
                    text-decoration: none;
                    &:focus, &:hover {
                        background-color: #555;
                    }
                }
            }
            + .menu-overlay {
                display: none;
            }
        }
    }
}

.footer-fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: $footer-height;
    background-color: #000;
    .version {
        margin-left: 14px;
        color: #fff;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 0.9em;
    }
}

#content {
  padding-top: $header-height;
  overflow: scroll;
}
