$icon-font-path: "../lib/sass-bootstrap/fonts/";
@import 'font-awesome/font-awesome.min.css';
@import 'sass-bootstrap/lib/bootstrap';
@import 'chart-styles';
@import 'lv-widgets/src/css/lv-widgets';
$header-height: 48px;
$footer-height: 24px;

$dark-green: #388E3C;
$green: #4CAF50;
$light-green: #C8E6C9;
$orange: #FF9800;
$dark-text: #212121;
$grey-text: #727272;
$divider: #b6b6b6;

* {
    color: $dark-text;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.welcome {
    .container-full > header,
    .container-full > footer{ 
        display: none;
    }
}

.container-full {
    width: 100%;
    height: 100%;
    position: fixed;
}

.header-fixed {
    background-color: $green;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: $header-height;
    text-align: center;
    z-index: 1;
    button {
        border-radius: 0;
        color: #fff;
        height: 48px;
        &:hover {
            color: #fff;
        }
        &:focus {
            color: #ff0;
        }
    }
    .layer {
        position: absolute;
        pointer-events: none;
        left: 0px;
        right: 0px;
        * {
            pointer-events: auto;
        }
    }
    .title {
        h1 {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            font-size: 1.8em;
            font-weight: 800;
            color: #fff;
        }
    }

    .menu-container {
        button {
            background-color: transparent;
            padding: 9px 12px 8px 12px;
        }
        i {
            font-size: 1.5em;
        }
        .menu {
            position: absolute;
            left: 0px;
            top: 48px;
            padding-left: 0px;
            text-align: left;
            background-color: #fff;
            display: none;
            &.on {
                display: block;
                + .menu-overlay {
                    display: block;
                    position: fixed;
                    top: 48px; left: 0; right: 0; bottom: 24px;
                    background-color: rgba(0,0,0, 0.25);
                    z-index: -1;

                }
            }
            li {
                list-style: none;
                i {
                  font-size: 1.1em;
                  margin-right: 12px;
                }
                a {
                    background-color: #000;
                    color: #fff;
                    padding: 15px 120px 15px 15px;
                    display: block;
                    text-decoration: none;
                    &:focus, &:hover {
                        background-color: #555;
                    }
                }
            }
            + .menu-overlay {
                display: none;
            }
        }
    }
}

.subheader {
    background-color: $green;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    color: #fff;
    height: 44px;
    padding: 10px;
    position: relative;
    
    * {
        color: #fff;
        margin: 0;
    }
    
    p {
        padding-top: 5px;
    }
    
    .input-group {
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        
        * {
            color: $dark-text;
        }
        
        input {
            border-right: 0 none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        span {
            background: #fff;
            border-left: 0 none;
        }
    }
    
    h2 {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    
    .btn-primary {
        background-color: $orange;
        border: 0 none;
        border-radius: 22px;
        bottom: -22px;
        -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        color: #fff;
        height: 44px;
        padding: 0;
        position: absolute;
        right: 5px;
        width: 44px;
        
        .btn-icon {
            color: #fff;
            height: 100%;
            left: 0;
            position: absolute;
            padding-top: 13px;
            top: 0;
            width: 100%;
            
            &:before {
                font-size: 20px;
            }
        }
    }
}

.footer-fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: $footer-height;
    background-color: $dark-green;
    .version {
        margin-left: 14px;
        color: #fff;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 0.9em;
    }
}

.layout {
    height: 100%;
}

.med-search-layout {
    .subheader {
        height: 75px;
    }
    .main-content {
        height: calc(100% - 75px);
    }
}

.main-content {
    height: calc(100% - 44px);
    overflow-y: auto;
}

graph {
    height: 700px;
}

svg {
    width: 100%;
}

#content {
    height: calc(100% - 72px);
    margin-top: $header-height;
    width: 100%;
}

.fill-height {
    height: 100%;
}
